---
import { getCollection, render } from "astro:content";
import CodeDisplay from '../../components/CodeDisplay.svelte';
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    const projects = await getCollection("projects");

    return projects.map((project: any) => ({
        params: { id: project.slug },
        props: { project },
    }));
}

const { project } = Astro.props;
const { data, slug } = project;
const { title, description, html_path, js_path } = data;
const { Content } = await render(project);
export const prerender = true;
---

<Layout title={`${title} - DAW`}>
    <div class="flex justify-center items-center content-center w-screen h-screen max-h-screen max-w-screen">
        <iframe transition:name={`frame-${slug}`} class="m-3 w-full max-w-xl mr-40 h-80" src={`${html_path}`}></iframe>
        <div class="prose prose-invert">
            <h1 transition:name={`title-${slug}`}>{title}</h1>
            <div class="mt-10">{description}</div>
            <div transition:name={`desc-${slug}`} class="text-justify break-all">
                <Content />
            </div>
        </div>
    </div>
	<CodeDisplay client:load html={html_path} js={js_path} />
</Layout>
